/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-size: 100em;
  }

h1{
  background-image: none;
  text-align: center;
  font-family: 'Handlee', cursive;
  color: white;
  position: absolute;
  margin: 16.5em 15em;
  padding: .5em;
  z-index: 2;
}

.frame {
position: absolute;
margin: 0 18em;
width: 60%;
z-index: 1;
}

canvas {
  margin: 4em 22em;
  position: absolute;
  border-radius: 0.2em;
  border-color: green;
  border-style: solid;
  border-width: 0.2em;
}