/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-size: auto;

   
    justify-content: center;
    align-items: center;
  }

h1{
  background-image: none;
  padding: .5em;
  z-index: 2;
  font-family: 'Handlee', cursive;
  color: white;
}

.center{
  position: absolute;
  top: 0;
  width: 97%;
  height: 160%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
position: absolute;
margin: 0 18em;
width: 60%;
z-index: 1;
}

canvas {
  margin: 4em 22em;
  position: absolute;
  
  border-radius: 0.2em;
  border-color: green;
  border-style: solid;
  border-width: 0.2em;
}