/* You don't really have to touch this style.css file. Most of the styling of the canvas is controlled via the sketch.js */

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  background-image: url(images/background4.jpeg);
  background-repeat: no-repeat;
  background-size: auto;

   
    justify-content: center;
    align-items: center;
  }

h1{
  background-image: none;

  padding: .5em;
  z-index: 2;

  font-family: 'Handlee', cursive;
  color: white;
}

.center{
  background-image: none;

  position: absolute;
  top: 75%;
  width: 97%;

  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 0.2em;
  border-color: green;
  border-style: solid;
  border-width: 0.2em;
}